<?xml version="1.0" encoding="UTF-8"?>

<configuration scan="true" scanPeriod="60 seconds" debug="false">
    <!-- Context listeners -->
    <contextListener class="io.seata.server.logging.listener.SystemPropertyLoggerContextListener"/>
    <!-- common properties -->
    <springProperty name="PORT" source="server.port" defaultValue="7091"/>
    <springProperty name="APPLICATION_NAME" source="spring.application.name" defaultValue="seata-server"/>

    <!-- 日志存放路径 -->
    <property name="log.path" value="logs/${project.artifactId}"/>
    <!-- 日志输出格式 -->
    <property name="console.log.pattern"
              value="%red(%d{yyyy-MM-dd HH:mm:ss}) %green([%thread]) %highlight(%-5level) %boldMagenta(%logger{36}%n) - %msg%n"/>

    <!-- 控制台输出 -->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${console.log.pattern}</pattern>
            <charset>utf-8</charset>
        </encoder>
    </appender>

    <include resource="logback-common.xml" />

    <include resource="logback-logstash.xml" />

    <!-- 开启 skywalking 日志收集 -->
    <include resource="logback-skylog.xml" />

    <root level="INFO">
        <appender-ref ref="console"/>
    </root>
</configuration>
