package ${packageName}.service;

import ${packageName}.domain.${ClassName};
import ${packageName}.domain.vo.${ClassName}VO;
import ${packageName}.domain.bo.${ClassName}BO;
#if($table.crud || $table.sub)
import com.pangu.common.mybatis.core.page.PageQuery;
import com.pangu.common.mybatis.core.page.TableDataInfo;
#end

import java.util.Collection;
import java.util.List;

/**
 * ${functionName}Service接口
 *
 * @author ${author}
 * @date ${datetime}
 */
public interface I${ClassName}Service {

    /**
     * 查询${functionName}
     */
    ${ClassName}VO queryById(${pkColumn.javaType} ${pkColumn.javaField});

#if($table.crud || $table.sub)
    /**
     * 查询${functionName}列表
     */
    TableDataInfo<${ClassName}VO> queryPageList(${ClassName}BO bo, PageQuery pageQuery);
#end

    /**
     * 查询${functionName}列表
     */
    List<${ClassName}VO> queryList(${ClassName}BO bo);

    /**
     * 修改${functionName}
     */
    Boolean insertByBo(${ClassName}BO bo);

    /**
     * 修改${functionName}
     */
    Boolean updateByBo(${ClassName}BO bo);

    /**
     * 校验并批量删除${functionName}信息
     */
    Boolean deleteWithValidByIds(Collection<${pkColumn.javaType}> ids, Boolean isValid);
}
