<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.dromara.manager.device.mapper.DeviceMapper">

    <select id="selectDeviceListByDriverId" resultType="org.dromara.manager.device.domain.vo.DeviceVo">
        select device.* from iot_device device left join iot_product product on device.product_id = product.id where product.driver_id = #{driverId}
        <if test="enabled != null and enabled != ''">
            and device.status = #{enabled}
        </if>
    </select>

    <select id="selectChildDeviceListByDeviceId" resultType="org.dromara.manager.device.domain.vo.DeviceVo">
        select device.* from iot_device device left join iot_gateway_bind_relation relation on device.id = relation.device_id where relation.gateway_device_id = #{deviceId}
        <if test="enabled != null and enabled != ''">
            and device.status = #{enabled}
        </if>
    </select>


    <select id="countChildByDeviceId" resultType="java.lang.Long">
        select count(device.id) from iot_device device left join iot_gateway_bind_relation relation on device.id = relation.device_id where relation.gateway_device_id = #{deviceId}
        <if test="enabled != null and enabled != ''">
            and device.status = #{enabled}
        </if>
    </select>

</mapper>
