<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pangu.iot.manager.device.mapper.DeviceMapper">
    <resultMap type="com.pangu.iot.manager.device.domain.Device" id="DeviceResult">
        <result property="id" column="id"/>
        <result property="code" column="code"/>
        <result property="productId" column="product_id"/>
        <result property="name" column="name"/>
        <result property="type" column="type"/>
        <result property="address" column="address"/>
        <result property="position" column="position"/>
        <result property="latestOnline" column="latest_online"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="status" column="status"/>
        <result property="remark" column="remark"/>
        <result property="zbxId" column="zbx_id"/>
    </resultMap>

    <resultMap type="com.pangu.iot.manager.device.domain.vo.DeviceListVO" id="DeviceListVOResult">
        <result property="id" column="id"/>
        <result property="code" column="code"/>
        <result property="productId" column="product_id"/>
        <result property="productName" column="product_name"/>
        <result property="name" column="name"/>
        <result property="type" column="type"/>
        <result property="address" column="address"/>
        <result property="position" column="position"/>
        <result property="latestOnline" column="latest_online"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="status" column="status"/>
        <result property="remark" column="remark"/>
        <collection property="groupList" ofType="com.pangu.iot.manager.device.domain.vo.DeviceGroupVO">
            <result property="id" column="device_group_id"/>
            <result property="name" column="device_group_name"/>
        </collection>
    </resultMap>

    <resultMap type="com.pangu.iot.manager.device.domain.vo.DeviceDetailVO" id="DeviceDetailVOResult">
        <result property="id" column="id"/>
        <result property="code" column="code"/>
        <result property="productId" column="product_id"/>
        <result property="productName" column="product_name"/>
        <result property="name" column="name"/>
        <result property="type" column="type"/>
        <result property="address" column="address"/>
        <result property="position" column="position"/>
        <result property="latestOnline" column="latest_online"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="status" column="status"/>
        <result property="remark" column="remark"/>
        <collection property="groupList" ofType="com.pangu.iot.manager.device.domain.vo.DeviceGroupVO">
            <result property="id" column="device_group_id"/>
            <result property="name" column="device_group_name"/>
        </collection>
    </resultMap>

    <select id="selectVoPageList" resultMap="DeviceListVOResult">
        select device.id, device.code, device.product_id, device.name, device.address, device.position, device.latest_online, device.status, device.create_by, device.create_time, device.update_by, device.update_time, device.remark, device.zbx_id,
         product.name product_name, product.type, device_group.name device_group_name, device_group.id device_group_id
            from iot_device device
              left join iot_product product on device.product_id = product.id
              left join iot_device_group_relation device_group_relation on device.id = device_group_relation.device_id
              left join iot_device_group device_group on device_group_relation.device_group_id = device_group.id
        ${ew.customSqlSegment}
    </select>

    <select id="detailById" resultMap="DeviceDetailVOResult">
        select device.id, device.code, device.product_id, device.name, device.address, device.position, device.latest_online, device.status, device.create_by, device.create_time, device.update_by, device.update_time, device.remark, device.zbx_id,
               product.name product_name, product.type, device_group.name device_group_name, device_group.id device_group_id
        from iot_device device
                 left join iot_product product on device.product_id = product.id
                 left join iot_device_group_relation device_group_relation on device.id = device_group_relation.device_id
                 left join iot_device_group device_group on device_group_relation.device_group_id = device_group.id
        where device.id = #{id}
    </select>

</mapper>
