<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pangu.iot.manager.driver.mapper.PointInfoMapper">

    <resultMap type="com.pangu.iot.manager.driver.domain.PointInfo" id="PointInfoResult">
    <result property="id" column="id"/>
    <result property="pointAttributeId" column="point_attribute_id"/>
    <result property="deviceId" column="device_id"/>
    <result property="pointId" column="point_id"/>
    <result property="value" column="value"/>
    <result property="description" column="description"/>
    <result property="createTime" column="create_time"/>
    <result property="updateTime" column="update_time"/>
    </resultMap>


</mapper>
