<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pangu.iot.manager.product.mapper.ProductEventServiceMapper">

    <resultMap type="com.pangu.iot.manager.product.domain.ProductEventService" id="ProductEventServiceResult">
    <result property="id" column="id"/>
    <result property="eventRuleId" column="event_rule_id"/>
    <result property="serviceId" column="service_id"/>
    <result property="relationId" column="relation_id"/>
    <result property="executeDeviceId" column="execute_device_id"/>
    <result property="createBy" column="create_by"/>
    <result property="createTime" column="create_time"/>
    <result property="updateBy" column="update_by"/>
    <result property="updateTime" column="update_time"/>
    </resultMap>


</mapper>
